extend layout

mixin cell(name)
  button #{name}

block content
  h1 Welcome #{name}
  //- script(src='/javascripts/patient.js')
  //- h1 Practitioners
  //- #table-wrapper
  //-   table#desc
  //-     tr
  //-       th Name
  //-       th Address
  //-       th Action
  //-     each practitioner in practitioners
  //-       tr
  //-         td= practitioner.profile.firstName + " " + practitioner.profile.lastName
  //-         td= practitioner.profile.address
  //-         td
  //-           if (patient.authorized && patient.authorized.indexOf(practitioner.practitionerId) > -1)
  //-             button(onClick= "unauthorizePractitioner('patient1@medical-chain','"+patient.patientId+"','"+practitioner.practitionerId+"')") Unauthorize
  //-           else 
  //-             button(onClick= "authorizePractitioner('patient1@medical-chain','"+patient.patientId+"','"+practitioner.practitionerId+"')") Authorize


