extend layout

block content
  script(src='/javascripts/login.js')
  h1 Welcome to Medical Chain (Test)
  h2 To start, enter your id
    br
    input#adminId(type='text', placeholder='id')
    button(onClick="loginAdmin()") Login as admin 
    br
    input#patientId(type='text', placeholder='id')
    button(onClick="loginPatient()") Login as patient 
    br
    input#practitionerId(type='text', placeholder='id')
    button(onClick="loginPractitioner()") Login as practitioner 
