#table-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
  }
  #desc {
    width: 50em;
    border-collapse: collapse;
  }
  #desc th {
      background-color: whitesmoke;
      padding: 1em;
      text-align: left;
      border: 1px solid black;
      padding: 1em;
    }
  #desc td {
      border: 1px solid black;
      padding: 1em;
    }